/*----------------------------------- 
		General
------------------------------------*/
body {
/*   font-family: Georgia, serif; */
  font-size: 14px;
  min-width: 600px;
  background-color: #e6e6e6;
  background-color: #8dbfd7;
  background-image: -webkit-gradient(radial, 50% 100%,100,50% -50%,100, from(rgb(74, 155, 196)), to(rgb(141, 191, 215)));
  background-image: -webkit-radial-gradient(50% 10%, rgb(141, 191, 215), rgb(74, 155, 196));
  background-image: -moz-radial-gradient(50% 10%, rgb(141, 191, 215), rgb(74, 155, 196));
  background-image: -ms-radial-gradient(50% 10%, rgb(141, 191, 215), rgb(74, 155, 196));
  background-image: radial-gradient(50% 10%, rgb(141, 191, 215), rgb(74, 155, 196));
  background-attachment: fixed;
}

a:link {
  color: #4e7385;
}

a:hover {
  color: #eeeeee;
}

a:visited {
  color: #2d3f4b;
}


#page {
  background: url(../images/bg-noise.png);
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  line-height: 1.45em;
  color: #444;
}

#region-content {
  background: #f3f3f3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

#region-content .region-content-inner {
  padding: 2em;
}